#firstrow {
    margin-top: 30px;
    margin-bottom: 40px;
}
#firstcol{
    border:2px solid black;
    margin-top: 100px;
    background-color: rgb(240, 16, 128);
    color: white;
}
#secondcol{
    margin-top: 100px;
}
#secondrow{
    margin: 5px;
}
#submit{
    background-color: black;
    margin: 10px;
}